In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as mlt
import scipy as sc
import sklearn as skl
from scipy import stats

In [25]:
df= pd.read_csv(r"C:\Users\Hp\Downloads\Cutlets.csv") 
df.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Unit A  35 non-null     float64
 1   Unit B  35 non-null     float64
dtypes: float64(2)
memory usage: 688.0 bytes

In [27]:
df.describe()

          Unit A     Unit B
count  35.000000  35.000000
mean    7.019091   6.964297
std     0.288408   0.343401
min     6.437600   6.038000
25%     6.831500   6.753600
50%     6.943800   6.939900
75%     7.280550   7.195000
max     7.516900   7.545900

In [29]:
 df.columns

Index(['Unit A', 'Unit B'], dtype='object')

In [31]:
d1= df.iloc[:,0]
d1

0     6.8090
1     6.4376
2     6.9157
3     7.3012
4     7.4488
5     7.3871
6     6.8755
7     7.0621
8     6.6840
9     6.8236
10    7.3930
11    7.5169
12    6.9246
13    6.9256
14    6.5797
15    6.8394
16    6.5970
17    7.2705
18    7.2828
19    7.3495
20    6.9438
21    7.1560
22    6.5341
23    7.2854
24    6.9952
25    6.8568
26    7.2163
27    6.6801
28    6.9431
29    7.0852
30    6.7794
31    7.2783
32    7.1561
33    7.3943
34    6.9405
Name: Unit A, dtype: float64

In [32]:
d2= df.iloc[:,1]

In [33]:
stats.ttest_ind(d1,d2)

Ttest_indResult(statistic=0.7228688704678061, pvalue=0.4722394724599501)

# Ho = there is no significant difference between two units
# Ha = there is a significant dfference between two units
#Î± = 0.05
#it is an two sample t test
#after pereforming the test we got p-value = 0.4722
#So,
#P-value < 0.05
#here,we reject Ho 
#There is a significant difference between diameter of a two cutlet units.

# 2 nd problem

In [2]:
data= pd.read_csv(r"C:\Users\Hp\Downloads\DATA SETS\labTAT.csv")
data.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [8]:

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laboratory 1  120 non-null    float64
 1   Laboratory 2  120 non-null    float64
 2   Laboratory 3  120 non-null    float64
 3   Laboratory 4  120 non-null    float64
dtypes: float64(4)
memory usage: 3.9 KB

In [10]:
data.shape

(120, 4)

In [11]:
data.columns

Index(['Laboratory 1', 'Laboratory 2', 'Laboratory 3', 'Laboratory 4'], dtype='object')

In [4]:
import scipy.stats as stats
stats.f_oneway(data.iloc[:,0], data.iloc[:,1],data.iloc[:,2],data.iloc[:,3])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

# Ho = There is no difference in the average Turn Around Time (TAT)
# Ha = There is a difference in the average Turn Around Time (TAT)
#Î± = 0.05
#it is an Anova test
#after pereforming the test we got p-value = 2.1156708949992414e-57 = 0
#So,
#P-value < 0.05
#here,we reject Ho 
#There is a difference in the average turn time(TAT) in 4 laboratory samples.

# 3rd Problem

In [16]:
data= pd.read_csv(r"C:\Users\Hp\Downloads\DATA SETS\BuyerRatio.csv")
data.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [1]:
data=[[50,435],[142,1523],[131,1356],[70,750]]

In [4]:
from scipy.stats import chi2_contingency
chi2_contingency(data)

(1.5959455386610577,
 0.6603094907091882,
 3,
 array([[  42.76531299,  442.23468701],
        [ 146.81287862, 1518.18712138],
        [ 131.11756787, 1355.88243213],
        [  72.30424052,  747.69575948]]))

# Ho = All proportions are equal
# Ha = All proportions are not equal
#Î± = 0.05
#it is an chi2 test
#after pereforming the test we got p-value =  0.6603094907091882
#So,
#P-value < 0.05
#here,we reject Ho 
#so all proportions are not equal

# 4th Problem

In [20]:
data= pd.read_csv(r"C:\Users\Hp\Downloads\DATA SETS\Costomer+OrderForm.csv")
data.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [24]:
data.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [25]:
data.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [26]:
data.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [27]:
data.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [28]:
from scipy.stats import chi2_contingency

In [29]:
data=[[271,29],[267,33],[269,31],[280,20]]

In [30]:
chi2_contingency(data)

(3.8589606858203545,
 0.2771020991233144,
 3,
 array([[271.75,  28.25],
        [271.75,  28.25],
        [271.75,  28.25],
        [271.75,  28.25]]))

# Ho = All proportions are equal
# Ha = All proportions are not equal
#Î± = 0.05
#it is an chi2 test
#after pereforming the test we got p-value =  0.2771020991233144 
#So,
#P-value > 0.05
#here,we accept Ho 
#so all proportions are equal